.playerPanel{
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.telemetryPanel{
    margin: 10px;
    width: 480px;
    background: #fafafa;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

#resizable {
    width: 720px;
    height: 480px;
    padding: 0.5em;
    /*display: inline-block;
    vertical-align: top;*/
}

#resizable h3 {
    text-align: center;
    margin: 0;
}

.video {
    visibility: hidden;
}

.controlBlock {
    margin: 10px 5px;
}

.klvTable {
    background: #fafafa;
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.missionSelect {      
    background-color:  #FFFFCC;    
    font-weight: bold;  
}